<div class="container">
  
  <h2>Superheroes List</h2>
  
  <div class="table-wrapper">
      
    <div [formGroup]="filterForm" class="form-group">
      <input type="text" class="form-control" placeholder="Filter by name" formControlName="filter">
      <button class="btn btn-primary" (click)="filterSuperheroes()">Filter</button>
      <button class="btn btn-primary" (click)="createSuperhero()">Create</button>

    </div>
  
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Ability</th>
          <th>Strength</th>
          <th>Actions</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let superhero of pagedSuperheroes">
          <td>{{ superhero.id }}</td>
          <td>{{ superhero.name }}</td>
          <td>{{ superhero.ability }}</td>
          <td>{{ superhero.strength }}</td>
          <td>
            <button (click)="deleteSuperhero(superhero.id)">Delete</button>
            <button class="btn btn-primary" (click)="viewHeroDetail(superhero)">View Details</button>
            <button (click)="editSuperhero(superhero)">Edit</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize" [pageIndex]="pageIndex"
                 [length]="totalItems" (page)="onPageChange($event)">
  </mat-paginator>
</div>
