<div class="container">
  <h2>Superheroes List</h2>
  <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Ability</th>
          <th>Strength</th>
          <th>Delete</th>
          <th>View Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let superhero of superheroes">
          <td>{{ superhero.id }}</td>
          <td>{{ superhero.name }}</td>
          <td>{{ superhero.ability }}</td>
          <td>{{ superhero.strength }}</td>
          <td><button (click)="deleteSuperhero(superhero.id)">Delete</button></td>
          <td><button class="btn btn-primary" (click)="viewHeroDetail(superhero)">View Details</button></td>

        </tr>
      </tbody>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize" [pageIndex]="pageIndex"
                 [length]="totalItems" (page)="onPageChange($event)">
  </mat-paginator>
</div>
